/* @media (min-width: 768px) and (max-width: 992px) {
    .navbar .menu_bar{
        display: none;
    }
    .navbar .language{
        display: none !important;
    }
} */
 @media(min-width: 1400px){

 }
 @media(min-width: 1200px) and (max-width: 1400px){

 }
 @media(min-width: 992px) and (max-width: 1200px){
    .hero .title h3 {
        font-size: 40px;
    }
    .hero .title h2 {
        font-size: 66px;
    }
    .hero .hero_image img{
        width: 100%;
    }
    .search_section .text {
        font-size: 25px;
    }
    .search_section .btn {
        padding: 10px 14px;
    }
    .search_section .container {
        padding: 20px 20px;
    }
 }
 @media(min-width: 768px) and (max-width: 992px){
    .hero{
        margin-bottom: 50px;
    }
    .hero .title h3 {
        font-size: 30px;
    }
    .hero .title h2 {
        font-size: 48px;
    }
    .hero .hero_image img{
        width: 100%;
    }
    .hero .title p {
        font-size: 21px;
    }
    .custom-card {
        /* width: auto; */
    }
    .vehicles_list {
        margin-bottom: 50px;
    }
    .search_section .container {
        padding: 20px 20px;
    }
    .search_section .text {
        font-size: 20px;
        padding-left: 0px;
    }
    .search_section .btn {
        padding: 10px 10px !important;
        font-size: 20px;
    }
    .search_section .search {
        font-size: 15px;
        margin-bottom: 0px !important;
    }
 }
 @media(min-width: 575px) and (max-width: 768px){
    .hero .hero_image img{
        width: 100%;
    }
    .connected_us .container .section-title {
        font-size: 40px;
    }
    .vehicles_list {
        margin-bottom: 50px;
    }
    .search_section .container {
        padding: 20px 20px;
    }
    .search_section .text {
        padding-left: 0px;
        text-align: center !important;
    }
    .search_section .search {
        margin-bottom: 20px;
    }
    .search_section .btn {
        padding: 5px 100px;
    }
    .search_section .col-12{
        text-align: center;
        justify-content: center;
    }
    
 }
 @media(max-width: 575px){
    .hero .hero_image img{
        width: 100%;
    }
    .hero .title h3 {
        color: #141F39;
        font-family: "Hind Siliguri";
        font-size: 34px;
        font-weight: 700;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .hero .title h2 {
        font-size: 54px;
        text-align: center;
    }
    .hero .title p {
        font-size: 18px;
        text-align: center;
    }
    .hero .hero_image img{
        width: 100%;
    }
    .connected_us .container .section-title {
        font-size: 40px;
    }
    .vehicles_list {
        margin-bottom: 0px;
    }
    .search_section .container {
        padding: 20px 20px;
    }
    .search_section .text {
        padding-left: 0px;
    }
    .search_section .col-12 {
        text-align: center;
        justify-content: center;
    }
    .justify-content-sm-center {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    .search_section .search {
        margin-bottom: 20px;
    }
    .search_section .me-2{
        margin-right: 0rem !important;
    }
    
 }
 @media(max-width: 425px){
    .hero .title p {
        font-size: 18px;
        text-align: center;
        padding: 0px 27px;
    }
    .hero .title h2 {
        padding-top: 0px;
    }
    .connected_us .container .section-title {
        font-size: 28px;
    }
    .search_section .search {
        margin-bottom: 20px;
    }
 }
 @media(max-width: 375px){
    .form-select {
        padding: .375rem 1.25rem .375rem .75rem;
    }
 }