    /* global css start */
body{
    /* font-family: 'Hind Siliguri', sans-serif;  
    font-family: "Chivo", serif;   */
}
    /* global css End! */

.navbar .menu_bar .menu{
    color: #051E38;
    font-family: "Hind Siliguri";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}
.navbar .language .menu{
    color: #051E38;
    font-family: "Hind Siliguri";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}
.login_register button{
    padding: 16px 20px;
    color: #051E38;
    font-family: "Hind Siliguri";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    border: 1px solid #FF2727;
    transition:  0.5s;
}
.login_register button:hover{
    color: #FFFFFF;
    background: linear-gradient(94.75deg, #FF2121 0.75%, #FF6060 106.31%);
}
/* .hero .custom-gap{
    gap: 20px;
} */
.hero .title h3{
    color: #141F39;
    font-family: "Hind Siliguri";
    font-size: 42px;
    font-weight: bold;
    line-height: 46px;
    letter-spacing: 0.2px;
}
.hero .title h2{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 700;
    font-size: 68px;
    line-height: 70px;
    letter-spacing: 0.2px;
    padding-top: 11px;

    background: linear-gradient(90.56deg, #FF2626 0.49%, #FF5858 99.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.hero .title p{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #141F39;
    opacity: 0.7;
    padding-right: 20px;

}
.hero .select_iteam{
    border: 1px solid #FF2727;
}
.hero .select_iteam option{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #061E38;
}
.hero .submit{
    color: #FFFFFF;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
/* hero section End! */


/* Connected with us section start */
.custom-card {
    width: 256px;
    height: 280px;
    padding-top: 20% !important;
    border: none;
    border-radius: 10px;
    background-color: #FFFFFF;
    text-align: center;
}
.icon-container {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #FF4040;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    padding: 15px;
}
.icon-container .train{
    width: 58px; 
    height: 57.14px;
}
.icon-container .car{
    width: 50px; 
    height: 50px;
}
.icon-container .man{
    width: 65px; 
    height: 65px;
}
.icon-container .driver{
    width: 67px; 
    height: 67px;
}
.card-text {
    font-size: 16px;
    font-weight: 500;
}
.price {
    font-size: 18px;
    font-weight: bold;
}
.connected_us .container .section-title {
    font-family: 'Hind Siliguri', sans-serif; 
    font-weight: 600; /* Semibold weight */
    font-size: 48px; 
    line-height: 56px;
    letter-spacing: 0.2px; 
    text-align: center;
}
.connected_us .container .card-text {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500; /* medium font */
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.2px;
}
.connected_us .container .price {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600; /* Semibold weight */
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.2px;
}
/* Connected with us section End! */


/* BD Smart vehicles Blog section Start */
.bd_smart_vehicle_part {
    color: #000000;
}
.post_card .post_content {
    color: #000000;
    padding-left: 15px;
}
.bd_smart_vehicle_part .post_card .post_title{
    font-weight: 600;      
    font-size: 20px;         
    line-height: 120%;
    letter-spacing: 0%;
    color: #000000;
}
.bd_smart_vehicle_part .post_card .post_date{
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 330px;
    line-height: 150%;
    color: #000000;
}
.bd_smart_vehicle_part .post_card .post_description{
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 330px;
    height: 69px;
    line-height: 150%;
    color: #000000;
}
.bd_smart_vehicle_part .heading_section {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600; /* Semibold weight */
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: #141F39;
    width: 613px; height: 56px;
  }
.sub_text {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400; /* rebular weight */
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #141F39;
  }
.post_card {
    width: 370px;
    height: 440px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    transition: transform 0.3s;
  }
  .post_card:hover {
    transform: translateY(-5px);
  }
  .post_image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    background-color: #fef5f5;
  }
  .btn_section {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500; /* rebular weight */
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #141F39;
    text-align: right;
    margin-top: -30px;
    margin-right: -20px;
  }

/* BD Smart vehicles Blog section End! */


/* Footer start */

footer {
    background-color: #051E38;
    font-family: "Chivo", serif;
}
footer div img .logo{
    width: 279px;
    height: 67.49px;
}
footer p{
    color: #B4B6C4;
}
footer .contact{
    color: #B4B6C4;
}
footer .footer_text{
    font-family: "Chivo", serif;
    font-weight: 700 ;      /* bold */
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
footer .footer_gray{
    font-family: "Chivo", serif;
    font-weight: 500 ;      /* regular */
    font-size: 16px;
    line-height: 26px;
    color: #B4B6C4;
}
footer .footer_gray i{
    color: #B4B6C4;
    width: 18px;
    height: 18px;
    opacity: 100%;
}
footer .copy_right{
    font-family: "Chivo", serif;
    font-weight: 500 ;      /* regular */
    font-size: 14px;
    line-height: 20px;
    color: #B4B6C4;
    opacity: 80%;
    text-decoration: none;
}
/* Footer end */